# --- BACKEND ---
BACKEND_PORT=8080

# --- DB FOR BACKEND ---
DB_HOST=db
DB_PORT=5432
DB_NAME=add-db-name
DB_ADMIN=add-admin-name
DB_ADMIN_PASSWORD=add-admin-password
DB_USER=add-user-name
DB_USER_PASSWORD=add-user-password

# --- CSV ---
CSV_PATH=seed/data/shoreline_buildings.csv
CHUNK_SIZE=5000

# --- AUTH SERVER and AUTH DB ---
AUTH_DB_URI=mongodb://auth-db:27017/add-auth-db-name
AUTH_DB_PORT=27017
AUTH_SERVER_PORT=3000
AUTH_LOG_LEVEL=silly
NODE_ENV=development
ACCESS_TOKEN_LIFE=5m
REFRESH_TOKEN_LIFE=1d
REFRESH_TOKEN_SECRET=add-secret
ACCESS_TOKEN_PRIVATE_KEY=add-key
ACCESS_TOKEN_PUBLIC_KEY=add-key