# --- BACKEND ---
BACKEND_PORT=8080

# --- DB FOR BACKEND ---
DB_HOST=db
DB_PORT=5432
DB_NAME=addname
DB_USER=addusername
DB_PASSWORD=addpassword

# --- CSV ---
CSV_PATH=seed/data/shoreline_buildings.csv
CHUNK_SIZE=5000

# --- AUTH SERVER and AUTH DB ---
AUTH_DB_URI=mongodb://auth-db:27017/addname
AUTH_DB_PORT=27017
AUTH_SERVER_PORT=3000
AUTH_LOG_LEVEL=silly
NODE_ENV=development
ACCESS_TOKEN_LIFE=5m
REFRESH_TOKEN_LIFE=1d
REFRESH_TOKEN_SECRET=addsecret
ACCESS_TOKEN_PRIVATE_KEY=addkey
ACCESS_TOKEN_PUBLIC_KEY=addkey