body {
  font-family: sans-serif;
  margin: 30px;
}

h2 {
  padding-top: 20px;
}

th, td {
  padding: 5px 10px;
}

th {
  background-color: #96D4D4;
}

tr:nth-child(even) {
  background-color: #ccd4d4;
}

.emphasize {
  font-style: italic;
}

.emphasize > img {
  width: 10px;
  height: 10px;
}

.emphasize > p {
  display: inline;
  margin-left: 5px;
}

